<%- include('../../shared/includes/head', { pageTitle: 'Student Registration' }) %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/styles/base.css">
<link rel="stylesheet" href="/styles/navigation.css">
<link rel="stylesheet" href="/styles/payment.css">
<script src="/scripts/cleave.js" defer></script>
<script src="/scripts/payment.js" defer></script>

</head>
  <body>
  <%- include('../../shared/includes/header') %>
    <main>
      <h1>Payment</h1>
      <section class="alert-payment">
        <h4>Account Balance: R<%= student.accountBal %></h4>
        <h4>Now Due: <%= student.accountBal * 10 / 100 %></h4>
        <h7>NSFAS/Bursary students are exempt from payment</h7>
      </section>
      <form action="/student/upload-student-documents/?_csrf=<%= locals.csrfToken %>" method="POST" enctype="multipart/form-data">
        <section>
          <p>
            <input type="checkbox" id="bursary" name="bursary" value= true>
            <label for="bursary">NSFAS/Bursary Holder</label> 
          </p>
          <p>
            <section id="bursaryDocs" class="hidden">
            <label for="document" class="custom-file-upload"><i class="fa fa-cloud-upload"></i> Proof of Bursary</label>
          <br>  
            <input type="file" name="document" id="document" accept=".pdf, .jpg, .docx" onchange="this.form.submit()">
        </section>  
        </p>
      </section> 
      </form>
  
      <section>
          <form class="payment-form" action="/student/registration/payment" method="POST">
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
            <label for="card_number">Card Number:</label>
            <input type="text" id="card_number" placeholder="1234 5678 9012 3456" name="card_number">
      
            <label for="card-holder">Cardholder Name:</label>
            <input type="text" id="card-holder" placeholder="John Doe">
      
            <div class="half-width">
              <label for="expiry">Expiration Date:</label>
              <input type="text" id="expiry" placeholder="MM/YY" name="expiry">
            </div>
      
            <div class="half-width">
              <label for="cvv">CVV:</label>
              <input type="text" id="cvv" placeholder="123">
            </div>
      
            <button type="submit" id = "mysubmit">Submit Payment</button>
          </form>
      </section>  
    </main>
<%- include('../../shared/includes/footer') %>
      