<%- include('../../shared/includes/head', { pageTitle: 'Student Registration' }) %>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="/styles/base.css">
<link rel="stylesheet" href="/styles/navigation.css">
<script src="/scripts/registration.js" defer></script>
</head>
  <body>
  <%- include('../../shared/includes/header') %>
    <main>
      <h1>Student Registration</h1>
      <br>
      <% if (student.course.registered) {%>
        <section class="alert-modules">
          <h2>You are already registered</h2>
        </section>
        <br>
          <p>
            <a class="btn" href="/student/dashboard">Go to Dashboard</a>
          </p>
      <% } else { %>
        <section class="alert-modules">
        <h2>You are registering for year: <%= student.course.year+1 %></h2>
        <p>Modules are pre-selected according to the relevant yearbook</p>   
      </section>
      <br>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Module Code</th>
            <th scope="col">Module Name</th>
            <th scope="col">Module Credits</th>
          </tr>
        </thead>
        <tbody>
      <section>
        <form action="/student/registration" method="POST">
          <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
          <div id="2">
            <ul class="modules">
              <% for (const module of modules2) { %>
                <% if (student.course.year === 1) { %>
                  <tr>
                    <td><input type="hidden" name="selectedModules" id="<%= module.moduleCode%>" value="<%= module._id %>" checked><%= module.moduleCode%></td>
                    <td><%= module.name %></td>
                    <td><%= module.credits %></td>
                  </tr>
                <% } %>
              <% } %>
            </ul>
          </div>
          <div id="3">
            <ul class="modules">
              <% for (const module of modules3) { %>
                <% if (student.course.year === 2) { %>
                  <tr>
                    <td><input type="hidden" name="selectedModules" id="<%= module.moduleCode%>" value="<%= module._id %>" checked><%= module.moduleCode%></td>
                    <td><%= module.name %></td>
                    <td><%= module.credits %></td>
                  </tr>
                <% } %>
              <% } %>
            </ul>
          </div>
          <div id="4">
            <ul class="modules">
              <% for (const module of modules4) { %>
                <% if (student.course.year === 3) { %>
                  <tr>
                    <td><input type="hidden" name="selectedModules" id="<%= module.moduleCode%>" value="<%= module._id %>" checked><%= module.moduleCode%></td>
                    <td><%= module.name %></td>
                    <td><%= module.credits %></td>
                  </tr>
                <% } %>
              <% } %>
            </ul>
          </div> 
          </tbody>
        </table>
          <p style="color: red;"> <strong>Submitting this registration has financial implications!</strong></p>
          <br>
          <button id="register" class="btn">Submit Registration</button>
        </form>
      </section>
      <% } %>  
    </main>

<%- include('../../shared/includes/footer') %>