<%- include('../../shared/includes/head', { pageTitle: 'Student Registration' }) %>
<script src="/scripts/module-selector.js" defer></script>
</head>
  <body>
  <%- include('../../shared/includes/header') %>
    <main>
      <h1>Student Registration</h1>
      <h2>Modules</h2>

      <section class="alert">
        <h2>Module Pre-requisite error</h2>
        <p>modules: </p>    
      </section>
      <br>
      <section>  
        <select id="yearSelector">
          <option value="">Select a year</option>
          <option value="year1">Year 1</option>
          <option value="year2">Year 2</option>
          <option value="year3">Year 3</option>
          <option value="year4">Year 4</option>    
        </select>

        <div id="year1" class="hidden">
          <ul>
            <% for (const module of modules) { %>
              <% if (module.year === 1) { %>
                <li>
                  <input type="checkbox" id="<%= module.moduleCode%>" value="<%= module.moduleCode%>"> 
                  <label for="<%= module.moduleCode%>"><%= module.moduleCode%></label>
                </li>
              <% } %>
            <% } %>
          </ul>
        </div>
        <div id="year2" class="hidden">
          <ul>
            <% for (const module of modules) { %>
              <% if (module.year === 2) { %>
                <li>
                  <input type="checkbox" id="<%= module.moduleCode%>" value="<%= module.moduleCode%>"> 
                  <label for="<%= module.moduleCode%>"><%= module.moduleCode%></label>
                </li>
              <% } %>
            <% } %>
          </ul>
        </div>
        <div id="year3" class="hidden">
          <ul>
          <% for (const module of modules) { %>
            <% if (module.year === 3) { %>
              <li>
                <input type="checkbox" id="<%= module.moduleCode%>" value="<%= module.moduleCode%>"> 
                  <label for="<%= module.moduleCode%>"><%= module.moduleCode%></label>
              </li>
            <% } %>
          <% } %>
          </ul>
        </div>
        <div id="year4" class="hidden">
          <ul>
            <% for (const module of modules) { %>
              <% if (module.year === 4) { %>
                <li>
                  <input type="checkbox" id="<%= module.moduleCode%>" value="<%= module.moduleCode%>"> 
                  <label for="<%= module.moduleCode%>"><%= module.moduleCode%></label>
                </li>
              <% } %>
            <% } %>
          </ul>
        </div>

      </section>

    </main>

<%- include('../../shared/includes/footer') %>