<%- include('../../shared/includes/head', { pageTitle: 'Student Profile' }) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/dashboard.css">
<link rel="stylesheet" href="/styles/forms.css">
<script src="/scripts/dashboard.js" defer></script>
</head>
  <body>
    <div id="backdrop"></div>
  <%- include('../../shared/includes/header') %>
    <main>
      <section>
        <h1>Student profile</h1>
        <div class="rt-container">
          <div class="col-rt-12">
            <div class="Scriptcontent">
              <div class="student-profile py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="card">
                        <div class="card-header">
                          <img class="profile_img" src="<%= student.image%>" alt="student profile image">
                          <h3>
                            Hello <%= student.firstName %>
                          </h3>
                          
                        </div>
                        <div class="card-body">
                          <p><strong>Student Number:</strong> <%= student.studentNum %></p>
                          <p><strong>Course:</strong> BCom Information Systems</p>
                          <p><strong>Year level:</strong> 3</p>
                          <p><strong>Curriculum Code:</strong> HX001</p>
                          <p><strong>Curriculum:</strong> Extended</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="card">
                        <div class="card-header">
                          <h3>Personal Information</h3>
                        </div>
                        <div class="card-body">
                          <table>
                            <tr>
                              <th>Title</th>
                              <td>Mr</td>
                            </tr>
                            <tr>
                              <th>First names</th>
                              <td><%= student.firstName %></td>
                            </tr>
                            <tr>
                              <th>Last Name</th>
                              <td><%= student.lastName %></td>
                            </tr>
                            <tr>
                              <th>Marital status</th>
                              <td><%= student.maritalStatus %></td>
                            </tr>
      
                            <tr>
                              <th>Nationality</th>
                              <td><%= student.nationality %></td>
                            </tr>
                            <tr>
                              <th>ID number</th>
                              <td><%= student.idNum %></td>
                            </tr>
                            <tr>
                              <th>Home language</th>
                              <td><%= student.homeLang %></td>
                            </tr>
                            <tr>
                              <th>Address</th>
                              <td><%= student.address %></td>
      
                            </tr>
                          </table>
                        </div>
                      </div>
      
                      <div class="card">
                        <div class="card-header">
                          <h3>Contact Details</h3>
                        </div>
                        <div class="card-body">
                          <table>
                            <tr>
                              <th>Contact</th>
                              <td><%= student.contact %></td>
                            </tr>
                            <tr>
                              <th>E-Mail</th>
                              <td><%= student.email %></td>
                            </tr>
                            <tr>
                              <th>Emergency contact</th>
                              <td><%= student.nextKin %></td>
                            </tr>
                            <tr>
                              <th>Emergency number</th>
                              <td><%= student.emergencyContact %></td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="Update">
        <p>
          <a class="btn btn-alt" id="editStudent">Update Information</a>
        </p>
      </div>
      <br>
      <br>

      <section>
        <aside class="modal" id="edit-overlay">     
          <form action="/student/update-dashboard/?_csrf=<%= locals.csrfToken %>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
              <p>
                <label for="image">Profile Image</label>
                <input type="file" id="image" name="image" accept="image/png,image/jpg">
              </p>
              
              <p>
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="firstName" value="<%= student.firstName %>" required>  
              </p>
              <p>
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="lastName" value="<%= student.lastName %>" required>  
              </p>
              <p>
                <label for="contact">Contact</label>
                <input type="text" name="contact" id="contact" value="<%= student.contact %>" required>  
              </p>
              <p>
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" value="<%= student.email %>" required>  
              </p>
              <a class="btn btn-alt" id="cancelEdit">Cancel</a> 
              <button type="submit" class="btn">Submit</button>
            </div>
          </form>
        </aside>
      </section>
      
    </main>
<%- include('../../shared/includes/footer') %>