<%- include('../../shared/includes/head', { pageTitle: 'Student Registration' }) %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/styles/base.css">
<link rel="stylesheet" href="/styles/navigation.css">
<link rel="stylesheet" href="/styles/payment.css">
<link rel="stylesheet" href="/styles/record.css">
<script src="/scripts/record.js" defer></script>
<style>
  p{
     text-align: center;
     margin-bottom: 0px;
  }
  
  table, th, tr{
    border: 1px solid black;
    overflow: auto;
    max-height: 300px;
    width: 100%;
    display: block;
    border-collapse:collapse;
    
  }
  tr{
    width: 380px;
    
    
  }
  
  
</style>
</head>
  <body>
  <%- include('../../shared/includes/header') %>
    <main>
     
        <h1>Academic Record</h1>
        <p><strong>Student Name:</strong>
        <%= student.firstName %> </p>
            <p><strong>Student Number:</strong>
              <%= student.studentNum %>
            </p>
            <p><strong>Course:</strong>
              <%= student.course.name %>
            </p>
            <p><strong>Last Registration Year:</strong>
              <%= student.course.year %>
            </p>
            <p><strong>Curriculum Code:</strong>
              <%= student.course.code %>
            </p>
            <p><strong>Curriculum:</strong>
              <%= student.course.curriculum %>
            </p>
     
        <section>
          <div class="container">
    
            <h1>Modules</h1>
            
            <div class="faq-drawer">
              <input class="faq-drawer__trigger" id="faq-drawer" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer">YEAR ONE</label>
              <div class="faq-drawer__content-wrapper">
                <div class="faq-drawer__content">
                  <p>
                    <% if (student.course.year>= 1) {%>
                    
                      <table>
                        <tr>
                          <td>ALDE111</td>
                          <td><%= student.grades1.ALDE111 %></td>
                        </tr>
                        <tr>
                          <td>ALDE112</td>
                          <td><%= student.grades1.ALDE112 %></td>
                        </tr>
                        <tr>
                          <td>BMAN111</td>
                          <td><%= student.grades1.BMAN111 %></td>
                        </tr>
                        <tr>
                          <td>BMAN121</td>
                          <td><%= student.grades1.BMAN121 %></td>
                        </tr>
                        <tr>
                          <td>ICOM111</td>
                          <td><%= student.grades1.ICOM111 %></td>
                        </tr>
                        <tr>
                          <td>INFS113</td>
                          <td><%= student.grades1.INFS113 %></td>
                        </tr>
                        <tr>
                          <td>INFS122</td>
                          <td><%= student.grades1.INFS122 %></td>
                        </tr>
                        <tr>
                          <td>MTHS119</td>
                          <td><%= student.grades1.MTHS119 %></td>
                        </tr>
                        <tr>
                          <td>MTHS129</td>
                          <td><%= student.grades1.MTHS129 %></td>
                        </tr>
                      </table>
                    
                    <% } %>
                  </p>
                </div>
              </div>
            </div>
            
            <div class="faq-drawer">
              <input class="faq-drawer__trigger" id="faq-drawer-2" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-2">YEAR TWO</label>
              <div class="faq-drawer__content-wrapper">
                <div class="faq-drawer__content">
                  <p>
                    <% if (student.course.year>= 2) {%>
                  
                    <table>
                      <tr>
                        <td>ECAT121</td>
                        <td><%= student.grades2.ECAT121 %></td>
                      </tr>
                      <tr>
                        <td>ECON112</td>
                        <td><%= student.grades2.ECON112 %></td>
                      </tr>
                      <tr>
                        <td>ECON122</td>
                        <td><%= student.grades2.ECON122 %></td>
                      </tr>
                      <tr>
                        <td>ICAT111</td>
                        <td><%= student.grades2.ICAT111 %></td>
                      </tr>
                      <tr>
                        <td>INFS211</td>
                        <td><%= student.grades2.INFS211 %></td>
                      </tr>
                      <tr>
                        <td>INFS221</td>
                        <td><%= student.grades2.INFS221 %></td>
                      </tr>
                      <tr>
                        <td>INFS222</td>
                        <td><%= student.grades2.INFS222 %></td>
                      </tr>
                      <tr>
                        <td>STFM111</td>
                        <td><%= student.grades2.STFM111 %></td>
                      </tr>
                      <tr>
                        <td>STFM125</td>
                        <td><%= student.grades2.STFM125 %></td>
                      </tr>
                    </table>
                  
                    <% } %>
                  </p>
                </div>
              </div>
            </div>
            
            <div class="faq-drawer">
              <input class="faq-drawer__trigger" id="faq-drawer-3" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-3">YEAR THREE</label>
              <div class="faq-drawer__content-wrapper">
                <div class="faq-drawer__content">
                  <p>
                    <% if (student.course.year >= 3) {%>
                      
                      <table>
                        <tr>
                            <td>ACFS111</td>
                            <td><%= student.grades3.ACFS111 %></td>
                        </tr>
                        <tr>
                          <td>INFS213</td>
                          <td><%= student.grades3.INFS213 %></td>
                        </tr>
                        <tr>
                          <td>INFS214</td>
                          <td><%= student.grades3.INFS214 %></td>
                        </tr>
                        <tr>
                          <td>ACFS121</td>
                          <td><%= student.grades3.ACFS121 %></td>
                        </tr>
                        <tr>
                          <td>INFS223</td>
                          <td><%= student.grades3.INFS223 %></td>
                        </tr>
                        <tr>
                          <td>INFS224</td>
                          <td><%= student.grades3.INFS224 %></td>
                        </tr>
                        <tr>
                          <td>WVES222</td>
                          <td><%= student.grades3.WVES222 %></td>
                        </tr>
                      </table>
                    
                 <% } %>
                  </p>
                </div>
              </div>
            </div>

            <div class="faq-drawer">
              <input class="faq-drawer__trigger" id="faq-drawer-4" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-4">YEAR FOUR</label>
              <div class="faq-drawer__content-wrapper">
                <div class="faq-drawer__content">
                  <p>
                    <% if (student.course.year >= 4) {%>
                        <li>INFS311<%= student.grades3.INFS311 %></li>
                        <li>INFS312<%= student.grades3.INFS312 %></li>
                        <li>INFS321<%= student.grades3.INFS321 %></li>
                        <li>ACFS322<%= student.grades3.INFS322 %></li>
                        <li>INFS323<%= student.grades3.INFS323 %></li>
                        <li>INF324<%= student.grades3.INFS324 %></li>
                        <li>WVES312<%= student.grades3.WVES312 %></li>
                    <% } %>
                  </p>
                </div>
              </div>
            </div>
            
          </div>
        
        </body>
        
        </html>
        </section>
    </main>
<%- include('../../shared/includes/footer') %>