<%- include('../../shared/includes/head', { pageTitle: 'Student Profile' }) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/dashboard.css">
<link rel="stylesheet" href="/styles/forms.css">
<script src="/scripts/dashboard.js" defer></script>
</head>
  <body>
  <%- include('../../shared/includes/header') %>
    <main>
      <section>
        <h1>Student profile update</h1>
      </section>
      <section>    
          <form action="/student/update-dashboard/?_csrf=<%= locals.csrfToken %>" method="POST" enctype="multipart/form-data">
            <div class="form-control"> 
              <p>
                <label for="image">Image</label>
                <input type="file" id="image" name="image" accept="image/png,image/jpg">
              </p>
              
              <p>
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="firstName" value="<%= student.firstName %>" required>  
              </p>
              <p>
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="lastName" value="<%= student.lastName %>" required>  
              </p>
              <p>
                <label for="contact">Contact</label>
                <input type="text" name="contact" id="contact" value="<%= student.contact %>" required>  
              </p>
              <p>
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" value="<%= student.email %>" required>  
              </p>
              <a class="btn btn-alt" href="../dashboard">Cancel</a> 
              <button type="submit" class="btn">Submit</button>
            </div>
          </form>
      </section>
    </main>
<%- include('../../shared/includes/footer') %>